<aside class="bg-primary">
<!-- <aside class="bg-dark"> -->
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Aside</h2>
            <hr class="light">
            <p class="text-faded">We reduce your data security and privacy risks. Leaving you to concentrate on your core business, confidant that your vital information is safe.</p>
            <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Take Action</a>
        </div>
    </div>
</aside>
