<aside id="blog" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2> <a class="section-heading light" href="{{ site.blog_url }}">Blog</a></h2>
        <h3> <a class="light" href="{{ site.blog_url }}/2017/08/13/about-passwords/">About Passwords</a></h3>
          <p class="text-faded text-left">The NIST released new Digital Identity Guidelines. Why is it important? Managing digital identities is an important aspect of information security. This NIST document is a great foundation on which to build a password policy. Making it easier for users to develop secure habits is in everyone’s best interest.
          <a class="light"href="{{ site.blog_url }}/2017/08/13/about-passwords/">Read more</a>
          </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.blog_url }}/2017/09/17/ceo-fraud/">CEO Fraud or Deceptive Funds Transfer</a></h3>
             <p class="text-faded text-left">CEO Fraud is a very sophisticated type of fraud in which highly skilled criminals attempt to penetrate a company’s internal network to gather information. Gathering information on organizational structure and procedures enables them to then spoof company email accounts and impersonate executives to try and deceive employees in financial positions with the objective to initiate an urgent wire transfer of funds.
             <a class="light"href="{{ site.blog_url }}/2017/09/17/ceo-fraud/">Read more</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.blog_url }}/2017/08/15/ransomware/">The growing threat of Ransomware</a></h3>
           <p class="text-faded text-left">Ransomware is a type of malware that, upon infection of computers or mobile devices, restricts user access to files and often threatens the permanent deletion of data unless a crypto-currency (e.g. Bitcoin) ransom is paid. The threat of ransomware is expected to steadily increase with the rise of crypto-currencies.
           <a class="light"href="{{ site.blog_url }}/2017/08/15/ransomware/">Read more</a>
           </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.blog_url }}/2017/07/26/cyber-insurance/">Cyber Insurance</a></h3>
          <p class="text-faded text-left">With cyber attacks, malware and ransomware making daily headlines, the need to develop a global information security strategy is pressing. An important part of such a strategy is cyber and privacy insurance. These insurance products are designed to protect against the unique risks relating to data security.
          <a class="light"href="{{ site.blog_url }}/2017/07/26/cyber-insurance/">Read more</a>
          </p>
        <a href="{{ site.blog_url }}" class="btn btn-default btn-xl">Blog Archive</a>
          <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
       </div>
    </div>
  </div>
</aside>

<!-- credit to Reyhan Dhuny: http://reyhan.org/2013/03/jekyll-archive-without-plugins.html -->
