<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Security is a business requirement</h2>
                <hr class="light">
                <p class="text-faded">We reduce your security risk, leaving you to focus on your business, confident that your vital information is safe and that private data remains confidential.</p>
                <!-- <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Take Action</a> -->
                <a href="{{ site.resources_url }}/contact" class="btn btn-default btn-xl wow tada page-scroll">Take Action</a>
            </div>
        </div>
    </div>
</section>
