<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/allianz-protect.pdf" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Allianz-Protect.jpg" class="img-responsive" alt="Allianz Protect Online Safe">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Allianz in partnership with Air&nbsp;France
                            </div>
                            <div class="project-name">
                                Business project management support to Allianz Marketing, in the development of the Allianz Protect Online Safe.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://europa.eu/rapid/press-release_IP-96-993_en.htm" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/EC.jpg" class="img-responsive" alt="European Commission | MUS sampling and risk analysis">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                European Commission - Financial Control
                            </div>
                            <div class="project-name">
                                Update Financial Control audit system, using MUS sampling and risk analysis.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/BNP-Paribas.jpg" onClick="return false;" class="portfolio-box">
                    <img src="img/portfolio/BNP-Paribas.jpg" class="img-responsive" alt="Paribas | Disaster Recovery Business Continuity ">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Paribas Bank
                            </div>
                            <div class="project-name">
                                Implementation of a new Paribas recovery site, part of bank's Business Continuity and Disaster Recovery plan.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/en/rights-and-obligations/#c1536" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Voyages-sncf.jpg" class="img-responsive" alt="Voyages-sncf | CNIL">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Voyages-sncf.com
                            </div>
                            <div class="project-name">
                                Assurance of CNIL compliance regarding client and ridership data stored for use by marketing teams.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/rpr.jpg" onClick="return false;" class="portfolio-box">
                    <img src="img/portfolio/rpr.jpg" class="img-responsive" alt="Rhône-Poulenc Rorer | security audit">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rhône-Poulenc Rorer - Canada
                            </div>
                            <div class="project-name">
                                Security audit of clinical study system used to internally track and analyze medical studies.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/en/rights-and-obligations/#c1536" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/EDF.jpg" class="img-responsive" alt="EDF | CNIL">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                EDF - Marketing
                            </div>
                            <div class="project-name">
                                Assistance to EDF - Marketing in the setup and maintenance of databases conforming to CNIL regulatory oversight.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
