<aside id="resources" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2> <a class="section-heading light" href="{{ site.resources_url }}">Resources</a></h2>
        <h3> <a class="light" href="{{ site.resources_url }}/2017-09-27-GDPR-privacy-protection/">GDPR: privacy protection in the EU</a></h3>
             <p class="text-faded text-left">Privacy protection in Europe is nothing new. With new GDPR regulation,
               Europe has set forth to reinforce and unify personal data protection. International business in Europe after May 2018 will...
             <a class="light" href="{{ site.resources_url }}/2017-09-27-GDPR-privacy-protection/">Read more</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.resources_url }}/2017/08/13/about-passwords/">Better password policies improve security</a></h3>
             <p class="text-faded text-left">The NIST released new Digital Identity Guidelines. Why is it important?
                Managing digital identities is an important aspect of information security, enabling people to develop their security skills...
             <a class="light" href="{{ site.resources_url }}/2017/08/13/about-passwords/">Read more</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.resources_url }}/2017/09/17/ceo-fraud/">CEO fraud or deceptive funds transfer</a></h3>
             <p class="text-faded text-left">CEO Fraud is a sophisticated type of fraud in which criminals gather information on internal practices and security procedures.
                It enables them to deceive employees to initiate wire transfers...
             <a class="light" href="{{ site.resources_url }}/2017/09/17/ceo-fraud/">Read more</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.resources_url }}/2017/08/15/ransomware/">The growing security threat of ransomware</a></h3>
             <p class="text-faded text-left">Ransomware is a type of malware that upon infection of computers restricts user access to files unless a crypto-currency (e.g. Bitcoin) is paid.
                Multiple layers of security is the best protection...
             <a class="light" href="{{ site.resources_url }}/2017/08/15/ransomware/">Read more</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.resources_url }}/2017/07/26/cyber-insurance/">Cyber and privacy insurance</a></h3>
             <p class="text-faded text-left">With cyber attacks and privacy breaches making daily headlines, organizations need a complete security and privacy strategy.
                Insurance can protect against risk to information security and privacy...
             <a class="light" href="{{ site.resources_url }}/2017/07/26/cyber-insurance/">Read more</a>
             </p>
        <a href="{{ site.resources_url }}" class="btn btn-default btn-xl">Resources</a>
          <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
       </div>
    </div>
  </div>
</aside>
