<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="primary">
                <p class="text-muted">Provide the expertise you need to protect your business.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-search-plus wow bounceIn text-primary"></i>
                    <h3>Assess Risk</h3>
                    <p class="text-muted">Create the foundation of your risk management program.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Protect Assets</h3>
                    <p class="text-muted">Ensure appropriate measures are in place to protect your information.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Educate Staff</h3>
                    <p class="text-muted">Train your people to identify risks.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Ensure Continuity</h3>
                    <p class="text-muted">Develop procedures to mitigate potential incidents.</p>
                </div>
            </div>
        </div>
    </div>
</section>
